{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block head %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<h5 class="text-center text-white font-italic"
    style="font-family: centurySchoolbook; margin-right: 15%; margin-left: 15%;">I’m a Computer Science student at
    Edinburgh Napier University. At school, I was always a “maths” person over all the other subjects and this was part
    of my motivation to make this site. After some research I decided that this type of website could be very useful to
    many pupils all around the globe. I wish you the best of luck on your times tables journey. <b>Learn it rapid.</b>
</h5>
<div class="overlay">
    <img class="mx-auto d-block" width="300px" src="/static/images/andreisignature.png">F
</div>
{% endblock %}

{% block body %}
{% endblock %}